<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuRtTKyn2nkESLjGrq2j4KmgslgpHD5I8</string>
	<key>GCM_SENDER_ID</key>
	<string>576112424583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mannlab.games.game2048crash</string>
	<key>PROJECT_ID</key>
	<string>crash-6508f</string>
	<key>STORAGE_BUCKET</key>
	<string>crash-6508f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576112424583:ios:38a9207559a92220d66a22</string>
</dict>
</plist>